/ {
	aliases {
		gspi-0 = &gspi;
		fmirq = &aliro_nfc_irq;
		fmreset = &aliro_nfc_reset;
	};

	keys {
		compatible = "gpio-keys";

		aliro_nfc_irq: aliro_nfc_irq {
			label = "ALIRO_NFC_IRQ";
			gpios = <&gpioa 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		};
	};

	leds {
		compatible = "gpio-leds";

		aliro_nfc_reset: aliro_nfc_reset {
			label = "ALIRO_NFC_RESET";
			gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
		};
	};

	led_pool {
		out {
			gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>,
				<&gpioc 1 GPIO_ACTIVE_HIGH>;
		};
	};
};

&gpioa {
	interrupts = <39 1>;
	status = "okay";
};

&gspi {
	clock-frequency = <48000000>;
	label = "SPI_0";

	cs0-pin = "GPIO_PE4";
	cs1-pin = "GPIO_PA1";

	nfc0: st25r@0 {
		compatible = "st,st25r";
		reg = <0>;
		spi-max-frequency = <1000000>;
		irq-gpios = <&gpioa 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
	};

	uwb0: sr150@1 {
		compatible = "nxp,sr150";
		reg = <1>;
		spi-max-frequency = <8000000>;
		irq-gpios = <&gpioa 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
		reset-gpios = <&gpioa 3 GPIO_ACTIVE_HIGH>;
		wakeup-gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;
	};
};

/ {
	soc {
		/delete-node/ memory@68000;
		/delete-node/ memory@80000;

		ram_ilm: memory@68000 {
			compatible = "mmio-sram";
			reg = <0x00068000 0x00020000>;
		};

		ram_ilm_non_retention: memory@88000 {
			compatible = "mmio-sram";
			reg = <0x00088000 0x00008000>;
		};
	};

	chosen {
		zephyr,sram = &ram_ilm;
	};
};
